@import url(./__logo/header__logo.css);

@import url(./__form/header__form.css);

@import url(./__form-input/header__form-input.css);

@import url(./__label-text/header__label-text.css);

.header {
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 90%;
    padding-top: 16px;
  }
}
