.place__web-address {
  outline: 1px solid red;
  max-width: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .place__web-address {
    max-width: 352px;
  }
}

@media screen and (max-width: 668px) {
  .place__web-address {
    display: none;
  }
}
