.lead__pic-caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .lead__pic-caption {
    margin-left: 24px;
  }
}

@media (max-width: 375px) {
  .lead__pic-caption {
    margin-left: 16px;
  }
}
