@import url(./__title/intro__title.css);

@import url(./__text/intro__text.css);

@import url(./__facts/intro__facts.css);

@import url(./__fact/intro__fact.css);

.intro {
  outline: 1px solid red;
  max-width: 984px;;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    padding-top: 64px;
  }
}
