.lead__subtitle {
  max-width: 640px;
  margin: 0;
  margin-bottom: 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    width: 90%;
    font-size: 20px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 426px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}


