@import url(./__card/place__card.css);

@import url(./__title/place__title.css);

@import url(./__web-address/place__web-address.css);

@import url(./__url/place__url.css);

@import url(./__link/place__link.css);

@import url(./__pic/place__pic.css);

@import url(./__description/place__description.css);

@import url(./__text/place__text.css);

.place {
  outline: 1px solid red;
  max-width: 984px;
  padding-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px;) {
  .place {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 426px) {
  .place {
    width: 100%;
  }
}
