@import url(./__info/footer__info.css);

@import url(./__info-list/footer__info-list.css);

@import url(./__info-item/footer__info-item.css);

@import url(./__link/footer__link.css);

@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 0 auto;
  max-width: 1184px;
  width: calc(100% - 96px);
  padding-top: 92px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 780px) {
  .footer {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media (max-width: 674px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 426px) {
  .footer {
    width: 90%;
    padding-top: 64px;
  }
}
