@import url(./__title/card__title.css);

@import url(./__web-address/card__web-address.css);

@import url(./__url/card__url.css);

@import url(./__link/card__link.css);

@import url(./__pic/card__pic.css);

@import url(./__description/card__description.css);

@import url(./__text/card__text.css);

.card {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, 460px) 40px minmax(-webkit-min-content, 484px);
  -ms-grid-columns: minmax(min-content, 460px) 40px minmax(min-content, 484px);
  grid-template-columns: minmax(-webkit-min-content, 460px) minmax(-webkit-min-content, 484px);
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 48px 40px;
}

.card + .card {
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .card {
    -ms-grid-columns: minmax(-webkit-min-content, 440px) 32px minmax(-webkit-min-content, 456px);
    -ms-grid-columns: minmax(min-content, 440px) 32px minmax(min-content, 456px);
    grid-template-columns: minmax(-webkit-min-content, 440px) minmax(-webkit-min-content, 456px);
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    -ms-grid-rows: auto 48px auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    -ms-grid-columns: minmax(-webkit-min-content, 340px) 28px minmax(-webkit-min-content, 352px);
    -ms-grid-columns: minmax(min-content, 340px) 28px minmax(min-content, 352px);
    grid-template-columns: minmax(-webkit-min-content, 340px) minmax(-webkit-min-content, 352px);
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    -ms-grid-rows: auto 48px auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: 48px 28px;
  }

  .card + .card {
    margin-top: 72px;
  }
}

@media screen and (max-width: 668px) {
  .card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card + .card {
    margin-top: 48px;
  }
}
